<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ikbar.locmart">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_locmart"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_locmart_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".AlfamartActivity"
            android:label="@string/alfamart"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".IndomartActivity"
            android:label="@string/indomart"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".GiantActivity"
            android:label="@string/giant"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".HypermartActivity"
            android:label="@string/hypermart"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".LottemartActivity"
            android:label="@string/lottemart"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".SuperindoActivity"
            android:label="@string/superindo"
            android:parentActivityName=".MainActivity">
        </activity>

    </application>

</manifest>